.header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  padding: 1rem;
}

.navigation-lists {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navigation-lists li {
  cursor: pointer;
}

.card-list {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  border: 1px solid black;
  min-height: 15rem;
  width: 16rem;
  padding: 0.5rem;
  text-align: center;
}

.card img {
  width: 15rem;
}

.searchBar {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.searchBar input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.searchBar button {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 5rem;
  font-weight: 600;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
