@tailwind base;
@tailwind components;
@tailwind utilities;

.swiggy-link-hover:hover {
  color: #ff0d0d;
}

.swiggy-button-hover:hover {
  color: #ff0d0d;
  border-color: #ff0d0d;
}

/* 
button {
  border: 1px solid black;
  border-radius: 0.5rem;
  min-width: 5rem;
  padding: 0.5rem;
  font-weight: 600;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

.navigation-lists {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navigation-lists li {
  cursor: pointer;
}

.card-list {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 15rem;
  width: 16rem;
  text-align: center;
}

.card img {
  width: 16rem;
  height: 10rem;
}

.searchBar {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding-top: 1rem;
}

.searchBar input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.no-restaurant-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}


.shimmer-search-block {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding-top: 1rem;
}

.shimmer-search-bar {
  width: 20rem;
  height: 2.5rem;
  background-color: #ffebebf4;
}

.shimmer-search-button {
  border-radius: 0.5rem;
  min-width: 5rem;
  height: 2.5rem;
  background-color: #ffebebf4;
}

.shimmer-card-block {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.shimmer-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 15rem;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shimmer-image {
  width: 16rem;
  height: 10rem;
  background-color: #ffebebf4;
}

.shimmer-header {
  height: 1.5rem;
  background-color: #ffebebf4;
  width: 15rem;
}

.shimmer-cusines {
  height: 2rem;
  background-color: #ffebebf4;
  width: 15rem;
  margin: 0rem;
}

.shimmer-rating {
  height: 1rem;
  background-color: #ffebebf4;
  width: 3rem;
}

*/
